<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Clean from League</h1>
    <p>Find out how long have you been clean from League</p>
    <input id="summoner-name" type="text" />
    <button id="search-button">Search</button>
    <h2 id="reply">You have been clean since: </h2>
    <h2>That is <span id="reply-days"> </span> day/days</h2>
    <script src="../public/js/main.js"></script>
</body>

</html>